body { background-color: #999999; font: 12px 'Syncopate', sans-serif; }
#container { position: fixed; background-color: #BBB; padding: 20 px; }
#keybox { width:910px; margin-left: -7px; text-align: center;}
#blackkeys { position: absolute; z-index: 2; padding-left: 10px; margin-left: 41px; width:806px; height: 0px;}
.key { display:inline-block; }
.black { background: black; width: 40px; height: 150px; margin: 0px 11px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
.spacer { display:inline-block; width: 62px; height: 0; }
.white { background: white; width: 60px; height: 250px; border: 1px solid black; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
.pressed { background: gray }
